button {
    height: 60px;
    width: 250px;
    background-color: white;
    border-radius: 5px;
}

.button-focused {
    background-color: #D0D0D0;
}

.button-unfocused {
    background-color: white;
}